.profile-setup__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-setup__img--assistant {
  height: 40rem;

  justify-self: right;
}

.profile-setup__heading {
  margin-bottom: 0.5rem;
}

.profile-setup__image-container {
  display: grid;
  padding: 2rem 2rem 2rem 4rem;
  background-color: aliceblue;
}

.profile-setup__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2rem 2rem 4rem;
}

.profile-setup__card {
  display: flex;
  column-gap: 5rem;
  padding: 0 !important;
}
