.main {
  margin: 3.5rem 0;
  overflow-x: hidden;
  overflow-y:auto;
  height: 89vh;
}


@media (max-height:713px) {
.main {
  height: 84vh;
}
}

@media (max-height:465px) {
  .main {
    height: 80vh;
  }
  }