#root-layout {
  display: grid;
  grid-template-columns: 16fr 100fr;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@media (max-width: 1023px) {
  #root-layout {
    grid-template-columns: 1fr;
  }
}