#root-layout {
  display: grid;
  grid-template-columns: 15fr 100fr;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.root-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 1150px) {
  #root-layout {
    display: grid;
    grid-template-columns: 1fr;
  }
}