#root-layout {
  display: grid;
  grid-template-columns: 13% 87%;
  /* grid-template-areas:
    "sidebar navbar"
    "sidebar main"
    "sidebar main"; */
  height: 100%;
  width: 100%;
}

.sidebar {
  grid-column: 1 / span 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.main {
  grid-column: 2 / span 1;
  /* width: 100%;
  position: relative; */
}
/*
/* .footer {
  grid-area: footer;
} */
/*
.navbar {
  grid-area: navbar;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
} */
