.root-layout {
  display: grid;
  grid-template-columns: 13% 87%;
  grid-template-rows: 7% 87% 6%;
  grid-template-areas:
    "sidebar navbar"
    "sidebar main"
    "sidebar footer";
  height: 100%;
}

.sidebar {
  grid-area: sidebar;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.navbar {
  grid-area: navbar;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
