/* .home__leaderboard {
  display: flex;
  flex-direction: column;
  flex: 2 1 0%;
  line-height: 150%;
  font-family: "__Poppins_8227c6", "__Poppins_Fallback_8227c6", Helvetica, Arial,
    sans-serif;
  font-weight: 400;
}

.home__leaderboard__box {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1.25rem 2rem;
  background: radial-gradient(
    122.39% 102.73% at 89% -2.73%,
    rgba(61, 61, 61, 0.27) 0%,
    rgb(17, 17, 17) 100%
  );
  border-radius: 0px 20px 0px 0px;
} */
