.logo {
  width: 6rem;
  display: inline-block;
}

.link__logo {
  display: flex;
  justify-content: center;
}

@media (max-width: 1150px) {
  .sidebar #sidebar__label {
    display: none;
  }

  #root-layout {
    display: grid;
    grid-template-columns: 7% auto !important;
  }

  #sidebar__nav {
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .sidebar {
    display: none;
  }
}
