.logo {
  width: 6rem;
  display: inline-block;
}

.link__logo {
  display: flex;
  justify-content: center;
}

.bg-main {
  background-color: rgb(30 64 175);
}

.custom-mt {
  margin-top: 0.85rem;
}
