.mobile_nav {
    position: absolute;
    bottom: 0; 
    left: 0;
    right: 0;
   display: none;
}


@media (max-width: 1150px) {
    .mobile_nav {
        display: flex;
        color: aliceblue;
        background-color: blue;
        padding: 0.7rem;
        justify-content: space-around;
    }
}