@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Segoe UI";
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
}
